.card-flex{
    display: flex;
    flex-wrap: wrap;
}
.prod-img{
    width: 240px;
    height:200px;
}

.prod-card{
    margin: 20px 20px;
    box-shadow: 2px 2px 12px rgb(0 0 0 / 30%);
}

.prod-name{
    font-family: 'Kanit', sans-serif;
}

/* .prod-body{
    color: #999999;
    background-color: #1e1e1e
} */

