<app-products-search [searchText]="listFilterText" (searchTextChanged)="updateFilterText($event)"></app-products-search>
<div class="container" *ngIf="products && products.length > 0; else alternative">
    <div class="card-flex">
        <div *ngFor="let product of products|search:listFilterText">
            <div class="card prod-card" style="width: 280px;">
                <img class="card-img-top prod-img" src={{product.imagePath}} alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{product.name|uppercase}}</h5>
                    <p class="card-text">{{product.description}}</p>
                    <p class="card-text">{{product.price|currency:'INR'}}</p>
                    <p class="card-text">
                        <app-star [likesValue]='product.rating'>
                        </app-star>
                    </p>
                    <a href="#" class="btn btn-danger">Delete</a>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #alternative>
    <div>
        No products to display
    </div>
</ng-template>