nav.navbar{
    box-shadow: 2px 2px 12px rgb(0 0 0 / 30%);
}

.navbar-brand{
    font-size: 30px;
    font-weight: 600;
    color: #999999 !important;
    font-family: 'Kanit', sans-serif;
    letter-spacing: 1.8px;
}

.navbar-brand span{
    color: orange;
}

.nav-link{
    color: #999999 !important;
    margin-left: 10px;
    margin-right: 10px;
    font-family: 'Kanit', sans-serif;
    font-size: 17px;
}

.navbar-nav .nav-link:hover{
    text-decoration: underline;
    color: orange !important;
    transition: .9s !important;
}

.navbar-collapse{
    flex-grow: 0 !important;
}

.bg-light{
    background-color: #1e1e1e !important;
}